services:
    pimee_workflow.query.elasticsearch.filter.eikona_catalog_tessa:
        class: 'Eikona\Tessa\ConnectorBundle\Elasticsearch\Filter\Attribute\TessaAssetFilter'
        arguments:
            - '@pim_catalog.validator.helper.attribute_filter'
            - ['eikona_catalog_tessa']
            - ['EMPTY', 'NOT EMPTY']
        tags:
            - { name: 'pimee_workflow.elasticsearch.query.product_proposal_filter', priority: 30 }
            - { name: 'pimee_workflow.elasticsearch.query.published_product_filter', priority: 30 }
