<html>
<head>
<style>
    body{
        position: relative;
        height: 100%;
        overflow: hidden;
    }

    .tessa404 {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
        -o-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }
</style>
</head>
<body>
<div class="tessa404">
    <img src="{{ asset('bundles/eikonatessaconnector/images/tessa_logo_02.png') }}">
    <h2>{{ 'tessa.error.not available'|trans|nl2br }}</h2>
</div>
</body>
</html>
